<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1 class="text-center my-4">Games</h1>
  <a class="btn btn-primary" href="/games/create"> Create Game</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>title</th>
      <th>Genre</th>
      <th>platform</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
      <td th:text="${game.id}">1</td>
      <td th:text="${game.title}">game title</td>
      <td th:text="${game.genre}">Genre</td>
      <td th:text="${game.platform}">platform</td>
      <td>
        <a class="btn btn-sm btn-warning" th:href="@{'/games/edit/' + ${game.id}}">Edit</a>
        <a class="btn btn-sm btn-info" th:href="@{'/games/show/' + ${game.id}}">Show</a>
        <a class="btn btn-sm btn-danger" th:href="@{'/games/delete/' + ${game.id}}" onclick="return confirm('Are you sure you want to delete this game?');">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>